.badge {
  background-color: #80808014;
  width: max-content;
  color: #000;
  padding: 2px 5px;
  font-size: 14px;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.success {
  color: #4ade80;
}

.progress {
  color: #ffa500;
}

.error {
  color: #ff0000;
}
