.container {
  background: #fff;
  border-bottom: 1px solid #eceeeb;
  padding: 2rem 5rem;
  display: flex;
  gap: 2rem;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .heading {
    font-size: 18px;
  }
}
